<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="cachingConfiguration"  type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>

		<section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
		<section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
		<section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
		<section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases" />	

	</configSections>

	<connectionStrings>
	
	</connectionStrings>

	<appSettings>
		<!--Auditoria
        Required_ExecutionsAndErrors : Se auditará la  ejecución del servicio, sin importar la configuración del mismo.
        Loguea Errores y ejecucion sin errores
       
	    Required_ErrorsOnly Se auditará la  ejecución con errores del servicio, sin importar la configuración individual 
								del mismo en la Metadata.
      
        Optional_ExecutionsAndErrors :Se auditará la  ejecución del servicio si éste está configurado para ser auditado en la metadata. 
				Loguea Errores y ejecucion sin errores
		Optional_ErrorsOnly :	Loguea solo errores de un servicio solo si esta configurado en la Metadata
        
		None = 4	No se auditará la  ejecución del servicio ni errrores.-
		-->
		<add key="ServiceDispatcherAuditMode" value="Required_ErrorsOnly"/>
		
		<!--Nombre logico del dispatcher con el que se lo registro  en la bd: 
				Se utiliza solo si hay un registro de instancias en bd
				es utilizado por El auditor interno del dispatcher para guardar logs de servicios: Dispatcher_Instance_Name
				-->
		<add key="ServiceDispatcherName" value="Epiron3GestorEpironTry"/>
		<!--Cadena de coneccion donde se encuentran las configuraciones del dispatcher: Necesario cuando se utiliza ServiceDispatcherName y la info del dispatcher esta en BD-->
		<add key="ServiceDispatcherConnection" value="EpironConnectionString"/>
		<!--Nombre del dispatcher como instancia de servicio fisico : puede o no coincidir con ServiceDispatcherName-->
		<add key="HostApplicationName" value="Epiron3GestorEpironTry"/>


	
	</appSettings>


	<!--Configuracion del logging del frameworck -->
	<FwkLogging defaultProviderName="P1">
		<Providers>
			<add name="P1" target="Xml" fileName="Logs.xml"/>
		</Providers>
	</FwkLogging>
	<FwkConfigProvider defaultProviderName="c1">
		<Providers>
			<add name="c1" type="local" baseConfigFile="ConfigurationManager.xml"/>

			<add name="c2" type="sqldatabase" sourceinfo="LogsDB"/>
		</Providers>
	</FwkConfigProvider>
	<FwkServiceMetadata defaultProviderName="Epiron3GestorEpironTryRemoting">
		<Providers>
			<add name="Epiron3GestorEpironTryRemoting" type="xml" appid="" sourceinfo="Services.xml" securityProviderName=""/>
			<add name="BlockingMetadataPrvd" type="xml" appid="" sourceinfo="BlockingMetadata.xml"/>
			<add name="Sql" type="sqldatabase" appid="" sourceinfo="BPConfig"/>
			<add name="EpironSecurity" type="xml" appid="" sourceinfo="MetasvcSecurity.xml" securityProviderName="" />
		</Providers>
	</FwkServiceMetadata>
	<FwkWrapper defaultProviderName="ws_generico">
		<Providers>
		<add name="ws_generico" type="Fwk.Bases.Connector.WebServiceWrapper,Fwk.Bases.Connector" appId="Epiron" serviceMetadataProviderName="wsprd_default" sourceinfo="http://localhost:38091/SingleService.asmx" />
		</Providers>
	</FwkWrapper>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton"
				   type="Fwk.Remoting.FwkRemoteObject, Fwk.Bases"
				   objectUri="Epiron3GestorEpironTryRemoting.rem"
            />
			</service>
			<channels>
				<channel ref="tcp" port="7090" />
			</channels>
		</application>
	</system.runtime.remoting>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>