@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
   
</script>


<div class="row">
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    JSONP contra Web API Dispatcher fwk
                </div>
                <div class="panel-body">
                    Llamada server mediante ajax jsonp post contra  web api jsonp
                    <p><div id="btnAjaxCall_POST_jsonp_WebAPI" class="btn btn-default">POST</div></p>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    POST Web API en este sitio
                </div>
                <div class="panel-body">
                    <p><div id="btnCallService_thisSite_POST_WebAPI" class="btn btn-danger">POST </div></p>

                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    POST a un web service externo  jsonp

                </div>
                <div class="panel-body">
                    El metodo en el WS hace un response.write(jsonResult)
                    <p><div id="btnCallService_WS_Cruzado" class="btn btn-info">Call WS </div></p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    POST ExecuteService 

                </div>
                <div class="panel-body">
                    Ejecuta el web service Dispatcher ExecuteServiceJsonp
                    llama a una libreria js 
                    <p><div id="btnCallService_WS_Cruzado2" class="btn btn-info">Call WS </div></p>
                </div>
            </div>
        </div>
    </div>
</div>
    

    @section Scripts {

        <script src="@Url.Content("~/Scripts/index.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/FwkWebCLientWrapper.js")" type="text/javascript"></script>
    }
