<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <!--CORRSF71DES01 = 172.22.13.150 -->
    <add name="ActiveDirectory" connectionString="Data Source=CORRSF71BD01; Initial Catalog=seguridad;          Persist Security Info = True;User ID=ReseteadorWeb;Password=bdo1_REs3Te0W3B_mierc17jun2015" providerName="System.Data.SqlClient"/>
    <add name="ActiveDirectory_" connectionString="Data Source=172.22.13.150;Initial Catalog=BB_Desarrollo_1_6_0;Persist Security Info = True;User ID=user_BB_des160;Password=88_Des01_160_Jul222011" providerName="System.Data.SqlClient"/>
    <add name="connectionStringSec" connectionString="Data Source=corrsf71nt09;Initial Catalog=BigBang;Persist Security Info = True;User ID=BigBang;Password=B1gB4ng+01" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--performWindowsContextImpersonalization on HD Helper-->
    <add key="FwkImpersonate" value="false"/>
  </appSettings>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
