# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Libraries/Framework/Fwk.Bases.dll
Fwk/Test/Fwk.Criptography.Test/obj/Debug/Fwk.Criptography.Test.Properties.Resources.resources
Fwk/Test/Fwk.Criptography.Test/obj/Debug/Fwk.Cryptography.Test.Form1.resources
Fwk/Test/Fwk.Criptography.Test/obj/Debug/Fwk.Cryptography.Test.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Criptography.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Test/Fwk.Criptography.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Test/Fwk.Criptography.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Test/Fwk.Security.Cryptography.Test/bin/Debug/Fwk.Bases.xml
Fwk/Test/Fwk.Security.Cryptography.Test/bin/Debug/Fwk.Security.Cryptography.Test.exe.config
Fwk/Test/Fwk.Security.Cryptography.Test/bin/Debug/Fwk.Security.Cryptography.Test.vshost.exe.config
Fwk/Test/Fwk.Security.Cryptography.Test/bin/Debug/Fwk.Security.Cryptography.Test.vshost.exe.manifest
Fwk/Test/Fwk.Security.Cryptography.Test/bin/Debug/ServiceMetadataConfig.xml
Fwk/Test/Fwk.Security.Cryptography.Test/bin/Debug/j.k
Fwk/Test/Fwk.Security.Cryptography.Test/obj/x86/Debug/Fwk.Security.Cryptography.Test.Form1.resources
Fwk/Test/Fwk.Security.Cryptography.Test/obj/x86/Debug/Fwk.Security.Cryptography.Test.FormTest.resources
Fwk/Test/Fwk.Security.Cryptography.Test/obj/x86/Debug/Fwk.Security.Cryptography.Test.Properties.Resources.resources
Fwk/Test/Fwk.Security.Cryptography.Test/obj/x86/Debug/Fwk.Security.Cryptography.Test.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Security.Cryptography.Test/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Test/Fwk.Security.Cryptography.Test/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Test/Fwk.Security.Cryptography.Test/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.Properties.Resources.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.frmEntitiesTest.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.frmEntityFromXmlWhitAttributes.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.frmException.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.frmHelperFunctions.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.frmMain.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.frmUndoRedoEntitiesTest.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Test/Fwk.Bases.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Test/Fwk.Bases.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Test/Fwk.Bases.Test/bin/Debug/ConfigurationManager.xml
Fwk/Test/Fwk.Bases.Test/bin/Debug/Fwk.Bases.Test.exe.config
Fwk/Test/Fwk.Bases.Test/bin/Debug/Fwk.Bases.xml
Fwk/Test/Fwk.Bases.Test/bin/Debug/ServiceMetadataConfig.xml
Fwk/Test/Fwk.Bases.Test/bin/Debug/XmlWhitAttributes.xml
Fwk/Test/Fwk.Cache.Test/bin/Debug/Fwk.Bases.xml
Fwk/Test/Fwk.Cache.Test/bin/Debug/Fwk.Cache.Test.exe.config
Fwk/Test/Fwk.Cache.Test/bin/Debug/ServiceMetadataConfig.xml
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.Properties.Resources.resources
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.frmAddItem.resources
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.frmCacheFactoryTest.resources
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.frmSelectItem.resources
Fwk/Test/Fwk.Cache.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Test/Fwk.Cache.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Test/Fwk.Cache.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Test/Fwk.DataBase.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Test/Fwk.DataBase.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Test/Fwk.DataBase.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Test/Fwk.Security.Service.Test/obj/Debug/Fwk.Security.Service.Test.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Security.Service.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Test/Fwk.Security.Service.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Test/Fwk.Security.Service.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Test/Fwk.Net.Ftp.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Test/Fwk.Net.Ftp.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Test/Fwk.Net.Ftp.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Test/Fwk.Loggin.Test/obj/Debug/Fwk.Loggin.Test.Properties.Resources.resources
Fwk/Test/Fwk.Loggin.Test/obj/Debug/Fwk.Logging.Test.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Loggin.Test/obj/Debug/Fwk.Logging.Test.frmLoggingTest.resources
Fwk/Test/Fwk.Loggin.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Test/Fwk.Loggin.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Test/Fwk.Loggin.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Test/Fwk.UnitTest/bin/Debug/ConfigurationManager.xml
Fwk/Test/Fwk.UnitTest/bin/Debug/Fwk.Bases.xml
Fwk/Test/Fwk.UnitTest/bin/Debug/Fwk.UnitTest.dll.config
Fwk/Test/Fwk.UnitTest/bin/Debug/Microsoft.VisualStudio.DebuggerVisualizers.xml
Fwk/Test/Fwk.UnitTest/bin/Debug/ServiceMetadataConfig.xml
Fwk/Test/Fwk.UnitTest/obj/Debug/Fwk.UnitTest.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.UnitTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Test/Fwk.UnitTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Test/Fwk.UnitTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Fwk.Bases.Connector/bin/Release/Fwk.Bases.Connector.dll.config
Fwk/Fwk.Bases.Connector/bin/Release/Fwk.Bases.xml
Fwk/Fwk.Bases.Connector/bin/Release/ServiceMetadataConfig.xml
Fwk/Fwk.Bases.Connector/obj/Release/Fwk.Bases.Connector.csproj.FileListAbsolute.txt
Fwk/Fwk.Bases.Connector/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Fwk.Bases.Connector/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Fwk.Bases.Connector/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Fwk.DataBase/obj/Debug/Fwk.DataBase.CustomControls.CnnDataBaseForm.resources
Fwk/Fwk.DataBase/obj/Debug/Fwk.DataBase.CustomControls.ConnectionForm.resources
Fwk/Fwk.DataBase/obj/Debug/Fwk.DataBase.CustomControls.TreeViewStoreProcedures.resources
Fwk/Fwk.DataBase/obj/Debug/Fwk.DataBase.CustomControls.TreeViewTables.resources
Fwk/Fwk.DataBase/obj/Debug/Fwk.DataBase.csproj.FileListAbsolute.txt
Fwk/Fwk.DataBase/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Fwk.DataBase/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Fwk.DataBase/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Fwk.DataBase/bin/Debug/Fwk.Bases.xml
Fwk/Fwk.DataBase/bin/Debug/Fwk.DataBase.XML
Fwk/Fwk.DataBase/bin/Debug/Fwk.DataBase.dll.config
Fwk/Fwk.DataBase/bin/Debug/ServiceMetadataConfig.xml
Fwk/Fwk.Bases/obj/Release/Fwk.Bases.Debug.IEntityVisualizerForm.resources
Fwk/Fwk.Bases/obj/Release/Fwk.Bases.Properties.Resources.resources
Fwk/Fwk.Bases/obj/Release/Fwk.Bases.csproj.FileListAbsolute.txt
Fwk/Fwk.Bases/obj/Release/Fwk.Net.Ftp.FTPComponent.resources
Fwk/Fwk.Bases/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Fwk.Bases/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Fwk.Bases/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Fwk.Bases/bin/Release/Fwk.Bases.XML
Fwk/Fwk.Bases/bin/Release/Fwk.Bases.dll.config
Fwk/Fwk.Bases/bin/Release/ServiceMetadataConfig.xml
Fwk/Fwk.Security/obj/Debug/Fwk.Security.Properties.Resource.resources
Fwk/Fwk.Security/obj/Debug/Fwk.Security.csproj.FileListAbsolute.txt
Fwk/Fwk.Security/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Fwk.Security/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk/Fwk.Security/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk/Test/Fwk.Loggin.Test/bin/Debug/Fwk.Bases.xml
Fwk/Test/Fwk.Loggin.Test/bin/Debug/Fwk.Loggin.Test.exe.config
Fwk/Test/Fwk.Loggin.Test/bin/Debug/ServiceMetadataConfig.xml
*.cache
*.Cache
*.dll
*.pdb
Fwk/Fwk.Security/bin/Debug/EntityFramework.SqlServer.xml
Fwk/Fwk.Security/bin/Debug/EntityFramework.xml
Fwk/Fwk.Security/bin/Debug/Fwk.Bases.xml
Fwk/Fwk.Security/bin/Debug/Fwk.Security.XML
Fwk/Fwk.Security/bin/Debug/Fwk.Security.dll.config
Fwk/Fwk.Security/bin/Debug/Microsoft.AspNet.Identity.Core.xml
Fwk/Fwk.Security/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
Fwk/Fwk.Security/bin/Debug/Microsoft.AspNet.Identity.Owin.xml
Fwk/Fwk.Security/bin/Debug/Microsoft.Owin.Security.Cookies.xml
Fwk/Fwk.Security/bin/Debug/Microsoft.Owin.Security.OAuth.xml
Fwk/Fwk.Security/bin/Debug/Microsoft.Owin.Security.xml
Fwk/Fwk.Security/bin/Debug/Microsoft.Owin.xml
Fwk/Fwk.Security/bin/Debug/Newtonsoft.Json.xml
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.exe
Fwk/Test/Fwk.Bases.Test/bin/Debug/Fwk.Bases.Test.exe
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.exe
Fwk/Test/Fwk.Cache.Test/bin/Debug/Fwk.Cache.Test.exe
Fwk/Test/Fwk.Configuration.Test/Fwk.Configuration.Test/bin/Debug/Fwk.Configuration.Test.exe
Fwk/Test/Fwk.Configuration.Test/Fwk.Configuration.Test/obj/Debug/Fwk.Configuration.Test.exe
Fwk/Test/Fwk.Security.Service.Test/bin/Debug/Fwk.Bases.xml
Fwk/Test/Fwk.Security.Service.Test/bin/Debug/Fwk.DataBase.xml
Fwk/Test/Fwk.Security.Service.Test/bin/Debug/Fwk.Security.Service.Test.dll.config
Fwk/Test/Fwk.Security.Service.Test/bin/Debug/Fwk.Security.xml
Fwk/Test/Fwk.Security.Service.Test/bin/Debug/ServiceMetadataConfig.xml
Fwk/Test/Fwk.Security.Cryptography.Test/obj/x86/Debug/Fwk.Security.Cryptography.Test.exe
Fwk/Test/Fwk.Loggin.Test/bin/Debug/Fwk.Loggin.Test.exe
Fwk/Test/Fwk.Loggin.Test/obj/Debug/Fwk.Loggin.Test.exe
Fwk/Test/Fwk.Criptography.Test/obj/Debug/Fwk.Criptography.Test.exe
Fwk/Test/Fwk.Criptography.Test/bin/Debug/Fwk.Criptography.Test.exe
Fwk/Test/Fwk.Criptography.Test/bin/Debug/Fwk.Criptography.Test.exe.config
Fwk/Test/Fwk.Criptography.Test/bin/Debug/Fwk.Criptography.Test.vshost.exe
Fwk/Test/Fwk.Criptography.Test/bin/Debug/Fwk.Criptography.Test.vshost.exe.config
Fwk/Test/Fwk.Criptography.Test/bin/Debug/Fwk.Criptography.Test.vshost.exe.manifest
Fwk/packages/EntityFramework.6.1.0/tools/migrate.exe
Fwk/Test/Fwk.Security.Cryptography.Test/bin/Debug/Fwk.Security.Cryptography.Test.exe
Fwk/Test/Fwk.Security.Cryptography.Test/bin/Debug/Fwk.Security.Cryptography.Test.vshost.exe
Fwk/Fwk.v11.suo
FrameworkTools/ConfigurationApp/ConfigurationApp/bin/Debug/ConfigurationApp.exe.config
FrameworkTools/ConfigurationApp/ConfigurationApp/bin/Debug/ConfigurationApp.vshost.exe
FrameworkTools/ConfigurationApp/ConfigurationApp/bin/Debug/ConfigurationApp.vshost.exe.config
FrameworkTools/ConfigurationApp/ConfigurationApp/obj/Debug/ConfigurationApp.csproj.FileListAbsolute.txt
FrameworkTools/ConfigurationApp/ConfigurationApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FrameworkTools/ConfigurationApp/ConfigurationApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FrameworkTools/ConfigurationApp/ConfigurationApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Libraries/Framework/Fwk.Bases.Connector.dll.config
Libraries/Framework/Fwk.Bases.dll.config
Libraries/Framework/Fwk.DataBase.dll.config
Libraries/Framework/Fwk.Security.dll.config
Fwk/Fwk.Bases/Blocks/Fwk.Exceptions/FrameworkErrors.txt.bak
Fwk/Fwk.Security/Membership/FwkMembership.User.cs.bak
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator.Core/bin/Release/Fwk.Bases.xml
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator.Core/bin/Release/Fwk.DataBase.xml
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/CodeGenerator.exe
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/CodeGenerator.exe.config
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/CodeGenerator.vshost.exe
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/CodeGenerator.vshost.exe.config
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/CodeGenerator.vshost.exe.manifest
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/Fwk.Bases.xml
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/Fwk.DataBase.xml
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/ICSharpCode.AvalonEdit.xml
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/Templates/DAC.txt
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/Templates/Entity.txt
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/Templates/Isvc.txt
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/Templates/MappingType.xml
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/Templates/Svc.txt
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/Templates/Templates.xml
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/ASPX.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/Boo.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/CPP-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/CSS-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/CSharp-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/Coco-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/HTML-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/Java-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/JavaScript-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/MarkDown-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/ModeV1.xsd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/ModeV2.xsd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/PHP-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/Patch-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/PowerShell.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/Tex-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/VBNET-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/XML-Mode.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/bin/Release/xshd/XmlDoc.xshd
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/CodeGenerator.exe
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.ConnectionForm.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.Forms.EntityClasses.frm_DataEntityGenerator.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.Forms.ServicesClasess.frm_ServicesGenerator.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.FrmBase.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.FrmTemplateSetting.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.ListViewCodeGenerated.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.Main.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.MessageView.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.MessageViewWait.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.Properties.Resources.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.csproj.FileListAbsolute.txt
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.ctrlNewService.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.ctrlTreeViewTables.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.ctrlTreeViewViews.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.frm_DACGenerator.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.wizBase.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.wizDBSelect.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/Fwk.CodeGenerator.wizTablesTreeSelector.resources
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FrameworkTools/Fwk.CodeGenerator/Fwk.CodeGenerator/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FrameworkTools/Controls/Fwk.Controls.Win32/bin/Debug/ICSharpCode.AvalonEdit.xml
FrameworkTools/Controls/Fwk.Controls.Win32/obj/Debug/Fwk.Controls.Win32.PropertyWrapper.PropertyWraperControl.resources
FrameworkTools/Controls/Fwk.Controls.Win32/obj/Debug/Fwk.Controls.Win32.Strings.resources
FrameworkTools/Controls/Fwk.Controls.Win32/obj/Debug/Fwk.Controls.Win32.TextCodeEditor.TextCodeEditor.resources
FrameworkTools/Controls/Fwk.Controls.Win32/obj/Debug/Fwk.Controls.Win32.TextCodeEditor.TextCodeEditorHost.resources
FrameworkTools/Controls/Fwk.Controls.Win32/obj/Debug/Fwk.Controls.Win32.csproj.FileListAbsolute.txt
FrameworkTools/Controls/Fwk.Controls.Win32/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FrameworkTools/Controls/Fwk.Controls.Win32/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FrameworkTools/Controls/Fwk.Controls.Win32/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FrameworkTools/Controls/Fwk.Controls.Win32/packages/AvalonEdit.4.4.2.9744/AvalonEdit.4.4.2.9744.nupkg
FrameworkTools/Controls/Fwk.Controls.Win32/packages/AvalonEdit.4.4.2.9744/lib/Net35/ICSharpCode.AvalonEdit.xml
FrameworkTools/Controls/Fwk.Controls.Win32/packages/AvalonEdit.4.4.2.9744/lib/Net40/ICSharpCode.AvalonEdit.xml
