<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
  </configSections>
  <connectionStrings>
  
    <add name="trazamed" connectionString="data source=SANTANA\SQLEXPRESS2008;initial catalog=trazamed;user id=sa;password=as;MultipleActiveResultSets=True"/>
  </connectionStrings>


  <!--Configuracion del los proveedores de  configuracion del frameworck -->
  <FwkConfigProvider defaultProviderName="Meucci3BajasADService_testLogs">
    <Providers>
      <add name="trazamed" type="sqldatabase" baseConfigFile="Meucci3BajasAD_test" sourceinfo="trazamed" />
		
		<!--<add name="file1" type="local" baseConfigFile="e:\Projects\fwk\trunk\12.0\Fwk\Test\Fwk.Configuration.Test\Fwk.Configuration.Test\ConfigurationManager_02.xml" sourceinfo=""/>
    <add name="file2" type="local" baseConfigFile="e:\Projects\fwk\trunk\12.0\Fwk\Test\Fwk.Configuration.Test\Fwk.Configuration.Test\ConfigurationManager_01.xml" sourceinfo=""/>-->
    </Providers>
  </FwkConfigProvider>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
