<?xml version="1.0"?>
<configuration>


  <configSections>
    <section name="FwkLogging" type="Fwk.ConfigSection.LoggingSection, Fwk.Bases"/>
    <section name="FwkConfigProvider" type="Fwk.ConfigSection.ConfigProviderSection, Fwk.Bases"/>
    <section name="FwkServiceMetadata" type="Fwk.ConfigSection.ServiceProviderSection, Fwk.Bases"/>
    <section name="FwkWrapper" type="Fwk.ConfigSection.WrapperProviderSection, Fwk.Bases"/>

  </configSections>
  
  <FwkWrapper defaultProviderName="wrap_local">
    <Providers>
      
      <!--<add name="wrap_wcf_local" type="Fwk.Bases.Connector.WCFWrapper_NetTcpBinding,Fwk.Bases.Connector" 
           appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="net.tcp://localhost:8001/FwkService"/>
      <add name="wrap_remoting" type="Fwk.Bases.Connector.RemotingWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="RemotingConfig.config"/>
      <add name="wrapper_remoting_1" type="Fwk.Bases.Connector.RemotingWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="PreProduccion" sourceinfo="remotingPreProduccion.config" />
      
    
      <add name="wrap_wcf_ws2008" type="Fwk.Bases.Connector.WCFWrapper_NetTcpBinding,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="net.tcp:// 192.168.1.178:8001/FwkService"/>
      <add name="wrap_clapton" type="Fwk.Bases.Connector.WCFWrapper_NetTcpBinding,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo="net.tcp://192.168.1.189:8001/FwkService"/>-->

      <add name="wrap_local" type="Fwk.Bases.Connector.LocalWrapper,Fwk.Bases.Connector" appId="pelsoft" serviceMetadataProviderName="health" sourceinfo=""/>
    </Providers>
  </FwkWrapper>

  <appSettings>
    <add key="ServiceDispatcherAuditMode" value="Required_ExecutionsAndErrors"/>
    <add key="ServiceDispatcherName" value="Fwk_Disp_Test"/>
    <add key="ServiceDispatcherConnection" value="fwk_dispatcher"/>

    <add key="HostApplicationName" value="Health soft service"/>
  </appSettings>
  <connectionStrings>
    <add name="fwk_dispatcher" connectionString="Data Source=SANTANA\SQLEXPRESS2008;
         Initial Catalog=fwktest1;Persist Security Info=True;User ID=sa;Password=as" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <FwkServiceMetadata defaultProviderName="health">
    <Providers>
      <add name="health" type="xml" appid="" sourceinfo="c:\projects\GitHub-sourcetree\fwk_12\Dispatchers\Client_Wrapper\Metasvc.xml" securityProviderName="health_sec"/>
    </Providers>
  </FwkServiceMetadata>

  <!--<system.serviceModel>


      <bindings>
        <netTcpBinding>
          <binding name="tcp"/>
        </netTcpBinding>
        <wsHttpBinding>
          <binding name="web">
            <security mode="None"/>
          </binding>
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://localhost:8001/FwkService" binding="netTcpBinding" contract="ServiceReference1.IFwkService" name="FirstEndpoint"/>
        <endpoint address="net.tcp://localhost:8001/FwkService" binding="netTcpBinding" bindingConfiguration="tcp" contract="ServiceReference1.IFwkService" name="tcp">
          <identity>
            <userPrincipalName value="santana\moviedo"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8732/WcfDispatcher/FwkService/mex" binding="wsHttpBinding" bindingConfiguration="web" contract="ServiceReference1.IFwkService" name="web"/>
      </client>
    </system.serviceModel>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
