<!-- edited with XMLSpy v2007 (http://www.altova.com) by pepe (pelsoft) -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
  </configSections>
  <appSettings>
    <add key="sf" value="true"/>
  </appSettings>
  <connectionStrings>
    
   
    <add name="CELAM" connectionString="Data Source=santana\SQLEXPRESS2008;Initial Catalog=celam;Persist Security Info=True;User ID=celam;Password=as" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <system.web>
    <roleManager defaultProvider="pelsofthealth" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>


        <add name="CELAM" type="System.Web.Security.SqlRoleProvider" connectionStringName="CELAM" applicationName="celam"/>

        
      </providers>
    </roleManager>
    <membership defaultProvider="pelsofthealth" userIsOnlineTimeWindow="15">
      <providers>
         <add name="CELAM" applicationName="celam" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CELAM" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
              
      </providers>
    </membership>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
